.side-bar {
    width: 76px;
    background-color: white;
    position: fixed;
    left: 0px;
    bottom:0px;
    top: 55px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    
}
.side-bar>div>img {
    height: 25px;
    }

.side-bar>div {
    height: 76px;
    width: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.side-bar>div:hover {
    background-color: #E5E5E5;
    }
